body 
{
background-color: black;
padding-left: 1em;
padding-right: 1em;
font-family:
Georgia, "Times New Roman",
Times, serif; 
color: rgb(189, 184, 184);     
border-style: solid;
  border-color: red green blue yellow;   
}